body {
    font-family: Arial, sans-serif;
    margin: 20px;
}


form {
    width: 350px; /* Adjusted width */
    padding: 20px; /* Reduced padding */
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2); /* Adjusted shadow for more depth */
    background-color: #afd1db; /* White background for the form */
    border-radius: 8px; /* Rounded corners */
    margin: 0 auto; /* Center the form horizontally */
}

label {
    
    font-weight: bold; /* Make labels bold */
    margin-top: 10px;
}


input {

    margin-bottom: 20px;

}

button {
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

#submitBtn {
    background-color: green;
}

#editBtn {
    background-color: blue;
}

#deleteBtn {
    background-color: red;
}

#displayBtn {
    background-color: orange;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
   /* Light background for better visibility */
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #004080; /* Dark blue background for headers */
    color: white; /* White text color for contrast */
}


